---
const { data } = Astro.props;
---

<aside>
	<time class="time-divider" datetime={`${data.date.date} ${data.date.time}`}>
		{data.date.time}
	</time>
	<span aria-label="Visited:">📍</span>
	<h2>{data.location.title}</h2>
	<p>{data.location.location?.location || data.location.title}</p>
	{
		data.people?.length > 0 && (
			<p>
				With{" "}
				{data.people.map((person: any, index: number) => {
					return (
						<span>
							{index !== 0 && ", "}
							<a href={`/person/${person.slug}`}>{person.name}</a>
						</span>
					);
				})}
			</p>
		)
	}
</aside>

<style>
	aside {
		padding: 1rem;
		text-align: center;

		time {
			--color: rgb(255, 123, 0);
		}
	}
</style>
