---
import CardAte from "@/components/CardAte.astro";
import CardDrank from "@/components/CardDrank.astro";
import CardEvent from "@/components/CardEvent.astro";
import CardTravel from "@/components/CardTravel.astro";
import CardVisit from "@/components/CardVisit.astro";
import SpotList from "@/components/SpotList.astro";
import Layout from "@/layouts/Layout.astro";
import { checkAuth } from "@/utils/auth";
import { formatContent } from "@/utils/content";
import { standardiseDateRoute, validDateRoute } from "@/utils/dateRoutes";

const { year, month, day } = Astro.params;

// Authenticated route
const isAuthenticated = checkAuth(Astro.cookies.get("auth"));

if (!isAuthenticated) {
	const currentPath = Astro.url.pathname;
	return Astro.redirect(`/journal/login?path=${currentPath}`);
}

// Validate route
const isValid = validDateRoute(year, month, day);

if (!isValid || !day || !month || !year) {
	return Astro.redirect("/journal/404");
}

// Standardise date
const apiDate = standardiseDateRoute(
	day as string,
	month as string,
	year as string
);
const contentDate = new Date(apiDate).toLocaleDateString("en-GB", {
	day: "numeric",
	month: "long",
	year: "numeric",
});

// Fetch page data
const data = await fetch(
	`https://cms.theadhocracy.co.uk/journal/${apiDate}.json`,
	{
		method: "GET",
		headers: {
			"content-type": "application/json",
			Authorization: `Bearer ${import.meta.env.CRAFT_API_KEY}`,
		},
	}
);
const response = await data.json();

// Standardise content
let content;
if (!response.error) {
	content = formatContent(response.copy, "journal", response);
}

// Breadcrumb navigation
const currDate = new Date(apiDate);
const nextDay = new Date(currDate.setDate(currDate.getDate() + 1));
const prevDay = new Date(currDate.setDate(currDate.getDate() - 2)); // NOTE: -2 as we increment date by 1 in prior statement

// NOTE: months must be incremented to account for 0-index in JS
const nextCrumb = `${nextDay.getFullYear()}/${nextDay.getMonth() + 1}/${nextDay.getDate()}`;
const prevCrumb = `${prevDay.getFullYear()}/${prevDay.getMonth() + 1}/${prevDay.getDate()}`;

// Readable month
const currMonth = new Date(apiDate).toLocaleDateString("en-GB", {
	month: "long",
});
---

<Layout title={apiDate}>
	{
		isAuthenticated && response && (
			<main class="content">
				<nav class="crumbs" aria-label="Breadcrumb">
					<a href={`/journal/${prevCrumb}`}>
						<span aria-hidden="true">⬅</span> Prev
					</a>
					<span aria-hidden="true">/</span>
					<a href={`/journal/${year}`}>{year}</a>
					<span aria-hidden="true">/</span>
					<a href={`/journal/${year}/${month}`}>{currMonth}</a>
					<span aria-hidden="true">/</span>
					<a href={`/journal/${nextCrumb}`}>
						Next <span aria-hidden="true">➡</span>
					</a>
				</nav>
				<h1>
					<time datetime={apiDate}>{contentDate}</time>
					{response.title || "Nothing To See Here"}
				</h1>

				{content?.map((block: { type: string; data?: any }) => {
					switch (block.type) {
						case "copy":
							return <Fragment set:html={block.data} />;
						case "ate":
							return <CardAte data={block.data} />;
						case "drank":
							return <CardDrank data={block.data} />;
						case "visit":
							return <CardVisit data={block.data} />;
						case "travel":
							return <CardTravel data={block.data} />;
						case "event":
							return <CardEvent data={block.data} />;
						default:
							return <Fragment set:html={block} />;
					}
				})}

				{response.footnotes?.length > 0 && <h2>Footnotes</h2>}
				{response.footnotes?.map((footnote: any, index: number) => {
					return (
						<aside id={`footnote${index + 1}`} class="content | footnote">
							<span>[{index + 1}]</span>
							<Fragment set:html={footnote} />
							<a
								href={`#reference${index + 1}`}
								title="Return to previous location in article."
								aria-label="Return to previous location in article."
							>
								↬
							</a>
						</aside>
					);
				})}

				{response.sightings?.length > 0 && (
					<h2 class="spotlist">Wildlife Sightings</h2>
				)}
				{response.sightings?.map((spotlist: any) => {
					return <SpotList data={spotlist} />;
				})}

				{response.error && <p>Doesn't look like I was very busy today 🤷‍♀️</p>}
			</main>
		)
	}
</Layout>

<style>
	main {
		max-width: max-content;
		margin-inline: auto;
		padding-inline: 1rem;
		padding-block: 2rem;
	}

	.spotlist {
		margin-block-end: 2rem;
	}

	.footnote {
		position: relative;
		max-width: min(100dvw - 6rem, 40em);
		margin-inline: auto;
		padding: 0;

		& > span:first-child {
			position: absolute;
			left: -2rem;
		}

		& > a:last-child {
			position: absolute;
			top: -0.65rem;
			right: -2rem;
		}

		& > * + * {
			margin-block-start: 1rem;
		}

		&:target {
			text-decoration: underline rgb(255, 255, 0) 0.5em;
		}
	}
</style>
